# Python caches
__pycache__/
*.pyc
*.pyo

# Environment files
.env
.env.*
*.env

# Token file
tokens.json

# Logs and temporary files
*.log
*.tmp
*.swp

# IDE settings
.vscode/
.idea/

# Coverage reports
.coverage


.DS_Store
secrets
venv
test_ltp.py
diagnose_gsheet.py

