flask
asgiref>=3.7
requests
python-dotenv
fyers-apiv3
pytest
pytest-mock
pandas
docker
gcloud
yapf
pytz
google-cloud-storage
google-cloud-kms
google-cloud-logging
google-cloud-pubsub
gunicorn
uvicorn
